<ion-view view-title="Receipts">
  <ion-content class="backgrd">

<div>

  <div class="list card name_hed" style="border-radius: 23px;border-top: 6px solid #66c33f;border-bottom: 6px solid #66c33f;">
      <label class="bks  item-input item-select slect_one" ng-if="user.admin_role_id == 5 || user.admin_role_id == 6|| user.admin_role_id == 4">
          <div class="input-label name">
            Property <span style="color:red">*</span>
          </div>
          <select ng-model="amt.property_id" ng-options="item.id as item.customer_name + ' | ' + item.property_address + ' | ' + item.city_name   for item in property_list"
      ng-disabled="edit_pro">
      <option selected value="" disabled>Select Option</option>
    </select>
          <!-- <select ng-model="amt.property_id" ng-options="property.id as property.property_name for property in property_list"
          ng-disabled="edit_pro">
            <option selected value="" disabled>Select Property</option>
          </select> -->
          <!-- <span ng-bind="err_word.property_id" ng-if="issue.property_id"></span> -->
        </label>


<label class="bks  item-input item-select slect_one">
<div class="input-label col-33 name">
 Category <span style="color:red">*</span>
</div>
<div class="bks col-57">
<select ng-model="amt.category" ng-options="item for item in category">
 <option disabled selected value="">Select Option</option>
</select>
</div>
<!-- <span ng-bind="err_word.category"></span> -->
</label>


<label class="bks  item-input item-select slect_one" ng-if="user.admin_role_id == 5">
  <div class="input-label col-33 name">
   Paid By <span style="color:red">*</span>
  </div>
  <div class="bks col-57">
  <select ng-model="amt.paid_by" ng-options="item for item in category_paid">
   <option disabled selected value="">Select Option</option>
  </select>
  </div>
  <!-- <span ng-bind="err_word.category"></span> -->
  </label>

<label class="bks item-input item-select slect_one">
  <div class="input-label col-33 name">
   Payment Mode <span style="color:red">*</span>
 </div>
 <div class="bks col-67">
  <select ng-model="amt.payment_type"  ng-change="paychoice(amt.paymode)">
   <option disabled selected value="">Select Option</option>
   <option  value="Direct pay">Cash</option>
   <option  value="card">Online Transaction</option>
   <option  value="cheque">Cheque</option>
 </select>
</div>
</label>



   <div class=" bks item-input" ng-if="amt.payment_type == 'cheque'">
      <span class="input-label col-33">Cheque Date </span>


  <div name="min" class=" item item-icon-left ico_1 " ion-datetime-picker ng-model="amt.cheque_date">
    <i class="icon ion-calendar"  style="color: brown;font-size: 18px;"></i>
  <strong>{{ amt.cheque_date| date: "dd-MM-yyyy" }}</strong>
    </div>
    </div>

    <label class="  item-input cont_2" ng-if="amt.payment_type == 'cheque'">
      <span class="input-label col-33">Cheque Number </span>
      <input class="col-67 amout_2" type="text" ng-model="amt.cheque_number" required="">
    </label>
  <span ng-show="myForm.cheque_number.$touched && myForm.cheque_number.$invalid">Cheque Number is required.</span>

    <label class=" item-input cont_2" ng-if="amt.payment_type == 'cheque'">
      <span class="input-label col-33">Bank Name </span>
      <input class="col-67 amout_2" type="text" ng-model="amt.branch_name" ng-class="err.branch_name">
   </label>

 <!-- <label class="bks  item-input item-select slect_one" ng-if="amt.payment_type == 'card'">
  <div class="input-label col-33 bks">
   Type of Pay
 </div>
 <div class="col-6  7">
  <select ng-model="amt.paymode"  ng-class="err.paymode">
      <option disabled selected value="">Select Option</option>
   <option   value="Credit Card">Credit Card</option>
   <option   value="Debit Card">Debit Card</option>
   <option   value="Internet Bank">Internet Banking</option>
 </select>
</div>
</label> -->
<label class="bks item-input cont_2 " ng-if="amt.payment_type == 'card'">

  <span class="input-label col-33 name">Transaction Number </span>
  :<input class="col-67 amout_1" ng-model="amt.transaction_no"  placeholder="Enter transaction number" type="text" min-length="16"  ng-class="err.transaction_no" ng-model="amt.transaction_no">
</label>

    <div class="bks item-input ">
      <span class="input-label col-33 name">Date <span style="color:red">*</span></span>


  <div name="min" class="item item-icon-left bks ico_1 " ion-datetime-picker ng-model="amt.date">
    <i class="icon ion-calendar " style="color: brown;font-size: 18px"></i>
<strong class="">{{ amt.date| date: "dd-MM-yyyy" }} </strong>
    </div>

    </div>
    <label class="bks item-input item-select slect_one" ng-if="amt.category == 'Rent' || amt.category == 'EB'">
  <div class="input-label col-33 name">
    Month-Year <span style="color:red">*</span>
 </div>
 <div class="bks col-67">
  <select class="form-control select_form" ng-model="amt.month_year" ng-options="person.month as person.month for person in month" required>
      <option disabled selected value="">Select Option</option>
  </select>
</div>
</label>
      <label class=" item-input cont_2 ">
      <span class="input-label col-33 name" >Amount <span style="color:red">*</span></span>
      <input class=" txt_box col-67 amout_1 " type="text"  placeholder="Enter Amount" ng-model="amt.amount">
   </label>
    <!-- <span ng-bind="err_word.date" class="errormsg" ng-hide="amt.date"></span> -->

<!--
    <label class="bks item-input">
      <span class="input-label col-33" style="margin-top: -55px;">Description</span>
    <textarea  rows="5" placeholder="Enter Description" ng-model="amt.description" ng-class="err.description" class=" amout_1   col-67"></textarea>
 -->
    <label class=" item-input  cont_2  " >
      <span class="input-label col-33 name" style="margin-top: -67px;">Description</span>
    <textarea  rows="5" placeholder="Enter Description" ng-model="amt.description" class="amout_1 col-67">

    </textarea>


    </label>
 <label class=" bks item-input " ng-if="amt.payment_type != 'card'">
        <span class="input-label col-50 name">Upload Image</span>
     <button  accept="image/*"  ng-model="files" ngf-multiple="true"  required class="button button-positive button-small hedd_4 icon ion-camera butn " ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button><span ng-if="err_word.photos"></span>
      </label>
<div class="text-center">
  <span ng-if="image_a">
<img ng-src="{{image_a  | convertFileSrc}}" class="image-list-thumb" ng-click="showImages($index,image_a)"/>
<!-- <a class="button ion-trash-a" ng-click="remove(image_a)"></a> -->
<a class="button ion-close-circled butn_delt" style="margin-top: -14px; "ng-click="remove(imgs)"></a>
</span>
</div>


<div class="bks text-center">
<button class="button button-positive button-small hed_4" ng-click="payment_detail(amt,image_a)">Submit</button>
<button class="button button-positive button-small hed_4" ng-click="reset()">Reset</button>
</div>
  </div>
  <!-- </form> -->
</div>


<div>


</div>

</ion-content>
</ion-view>
