<ion-view view-title="Status of issues">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button>
     <ion-nav-buttons side="right">
        <div class="icon ion-plus-circled " ng-click="gobuttons()" style="font-size: 30px">
 </div>
     <!--    <button class="button ion-plus-round" ng-click="doSomething($event)" style="border-color: white;border-radius: 184px;">
                 </button> -->
    </ion-nav-buttons>
    </ion-nav-bar>
    <!-- <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons> -->

       <div class="bar  bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search">
        </label>
      </div>
  <ion-content class=" backgrd has-subheader">
      <ion-refresher on-refresh="category()"></ion-refresher>
<!-- <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" style="width: 100%;" > -->

  <!--   <div class="list list-inset" ng-hide="emptyimg">
  <label class=" item-input">
    <i class="icon ion-search placeholder-icon"  style="font-size: 18px;"></i>
    <input type="text" placeholder="Search" style="font-size: 18px;">
  </label>
</div> -->
   <!--  <label class="item item-input item-select " ng-class="err.category_id">
      <div class="input-label">
        Type of issue
      </div>
      <select ng-model="category_id" ng-options="category.id as category.category_name for category in categories" ng-change="category(category_id)">
       <option disabled selected value="">Select Type of issue</option>
     </select>
     <span ng-bind="err_word.category_id"></span>
   </label> -->
   <!-- <button class="button button-positive button-small hed_4" ng-click="category()">push</button> -->
   <!-- <label class="item item-input item-select form_1">
    <div class="input-label">
      Type of issue
    </div>
    <select>
      <option>Plumbing</option>
      <option selected>Eb</option>
      <option>White wash</option>
      <option>Documentation</option>
    </select>
  </label> -->
  <!-- </div> -->
  <!-- <div class="card con_4"  ng-repeat="(key, value) in status |groupBy: 'category_name'" ng-if="assign1">
   <div class="item item-divider  head_1">

  </div>
 -->

   <!--   <h1 class="title">{{key}} works</h1> -->

   <div class=" card list card_detail item-text-wrap" ng-repeat="values in status | filter :search">
      <a class="item bk-clr" href="#/app/issue_list/{{values.id}}" style="color: #0d0d0d">
    <div class="row padding-top">
      <div class="col col-50  name">
       Issue ID
     </div>
     <div class="col col-10">
       :</div> <span class="col" ng-bind="values.issue_id"></span>

     </div>


   <div class="row">
    <div class="col col-50  name"> Description </div>
    <div class="col col-10">
     :</div> <span class="col">{{values.description}} </span>
   </div>


 <div class="row">
  <div class="col col-50  col-center name">
  Status</div>
  <div class="col col-10">:</div>
    <div class="col" has-header="true" padding="true">
      <span ng-bind="values.status"></span>
       <!--  <progress id="progressbar" max="100" value="{{ progressval }}" ng-click="updateProgressbar()"></progress>
        <div id="progressbarlabel">{{ progressval }}%</div>  -->
      </div>
    </div>


  <div class="row">
    <div class="col col-50  col-center name">
    Last Update </div>
    <div class="col col-10">
     : </div><div class="col"><span ng-bind="values.tracking_date"></span><span ng-bind="values.date_format_master"></span></div>


   </div>


 <div class="row padding-top " ng-if="values.name">
  <div class="col col-50  name">
   Technician Name
 </div>
 <div class="col col-10 padding-top ">
  : </div><span class ="col" ng-bind="values.name"></span>
</div>

<div class="row" ng-if="values.mobilenumber">
  <div class="col col-50  col-center name">

   Contact No
 </div>
 <div class="col col-10">
   : </div><span class="col" ng-bind="values.mobilenumber"></span>
 </div>

 <!--  <div class="row">
  <div class="col col-33 col-center ">
  Completed Status </div>
  <div class="col col-67">
   <textarea  rows="6"  cols="23"  ></textarea>
 </div>
</div>
-->



 <div class="row">
  <div class="col col-33  col-center name">
 work Status</div>
  <div class="col col-50">

   <div has-header="true" padding="true">
     <progress id="progressbar" max="100" value="{{values.progress}}"></progress>
      </div>
    </div>
    <div class=" col ">
   <div has-header="true" padding="true" class="progres_1">
         <span id="progressbarlabel">{{values.progress}} %</span>
      </div>    </div>
  </div>
  </a>
</div>
</div>
<!-- </br></br> -->
<div class=" data_1" ng-if="assign"><b>No Records Found</b></div>
</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>
