<ion-view title="Property" >
<ion-content class="backgrd"  >
  <ion-scroll zooming="false" direction="x" style="width: 360px;height: 60px;">
   <div class="row text-center ">
     <div class="col-33 col-center bac_2"> <a class="item main_l1 "  ng-click="setTab(1) ">Basic Details</a></div>
  <div class="col-33 col-center bac_2"> <a class="item  main_l2  " ng-click="setTab(2)"> Expanded Details</a></div>
<div class="col-33 col-center bac_2"><a class="item main_l3" ng-click="setTab(3)">Documents </a></div>
<div class="col-33 col-center bac_2" ng-if="single_prop.tenant_detail" style="margin-left: -13px;"><a class="item main_l3" ng-click="setTab(4)">Tenant Details </a></div>
</div>
</ion-scroll>

   <div class="list cont_2  con_3" ng-show="isSet(1)" >
    <div class="card">
      <div class="row">
        <div class="col col-33 col-center name">
          Property Code
       </div>
        <div class="col col-10">
          :</div> <span class="col brk_1">{{single_prop.property_unique_code}}</span>
      </div>

    <div class="row" >
      <div class="col col-33 col-center name">
      Status   </div>
      <div class="col col-10">
           :</div>
           <span class="col" ng-if="single_prop.available_status == 'available'">Non Occupied</span>
           <span class="col" ng-if="single_prop.available_status == 'notavailable'">Occupied</span>
     </div>

   <div class="row" >
    <div class="col col-33 col-center name">
     Address</div>
    <div class="col col-10">
           : </div><span class="col brk_1">{{single_prop.property_address}}</span>

    </div>

  <div class="row">
    <div class="col col-33 col-center name">
  City </div>
    <div class="col col-10">
       :</div> <span class="col">{{single_prop.city_name}}</span>

    </div>

  <div class="row">
    <div class="col col-33 col-center name">

    Country </div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.country_name}}</span>

    </div>

  <div class="row">
    <div class="col col-33 col-center name">

   Property Type </div>
    <div class="col col-10">
        : </div><span class="col brk_1">{{single_prop.property_type}}</span>

    </div>
    <div class="row"  ng-if="single_prop.agreement_date">
      <div class="col col-33  col-center name ">
      Agreement Start Date </div>
      <div class="col col-10">
            :</div> <span class="col">{{single_prop.agreement_date}}</span>

      </div>
    <div class="row" ng-if="single_prop.property_description">
      <div class="col col-33  col-center name ">
        Property Description</div>
      <div class="col col-10">
            :</div> <span class="col">{{single_prop.property_description}}</span>

      </div>
  <div class="row" ng-if="single_prop.date_check">
    <div class="col col-33  col-center name ">
    Agreement End Date </div>
    <div class="col col-10">
          :</div> <span class="col">{{single_prop.date_check}}</span>

    </div>


 <div class="row" ng-if="single_prop.images">
  <div class="col col-100 col-center text-center">
<b>Property Photos</b></div>

</div>
 <a class="item item-list-detail" ng-if="single_prop.images">
        <ion-scroll direction="x">
<img ng-repeat="item in single_prop.images" ng-src="{{img_url}}{{item.image_path}}/{{item.image_name}}" class="image-list-thumb"
ng-click="showImages($index,single_prop.images)" />
        </ion-scroll>
      </a>


</div>
</div>

<div class="list cont_2 con_3" ng-show="isSet(2)" >
    <div class="card">
        <div class="row" ng-if="single_prop.main_entrance_facing">
            <div class="col col-50 col-center name" >
              Main Enterence Facing
           </div> <div class="col col-10 ">

             : </div><span class="col">{{single_prop.main_entrance_facing}}</span>
          </div>
      <div class="row" ng-if="single_prop.eb_card_holder_name">
        <div class="col col-50 col-center name">
          EB Holder Name
       </div>
        <div class="col col-10 ">
         : </div><span class="col brk_1">{{single_prop.eb_card_holder_name}}</span>
      </div>
      <div class="row" ng-if="single_prop.eb_consumer_no">
        <div class="col col-50 col-center name">
          EB Consumer No
       </div>
        <div class="col col-10 ">
         : </div><span class="col">{{single_prop.eb_consumer_no}}</span>
      </div>
     <div class="row" ng-if="single_prop.association_name">
    <div class="col col-50 col-center name ">
  Association Name: </div>
    <div class="col col-10">
        : </div><span class="col brk_1"> {{single_prop.association_name}}</span>

    </div>

    <div class="row" ng-if="single_prop.association_address">
      <div class="col col-50  col-center name">
     Association Address </div>
      <div class="col col-10">
          :</div> <span class="col brk_1">{{single_prop.association_address}}</span>

     </div>

   <div class="row" ng-if="single_prop.association_contact_number">
    <div class="col col-50  col-center name ">
     Association Contact Number</div>
    <div class="col col-10">
         :</div><span class="col">{{single_prop.association_contact_number}}</span>

    </div>


  <div class="row" ng-if="single_prop.builder_name">
    <div class="col col-50 col-center name ">

    Builder Name </div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.builder_name}}</span>

    </div>

  <div class="row" ng-if="single_prop.builder_contact">
    <div class="col col-50 col-center name">

   Builder Contact</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.builder_contact}}</span>

    </div>
    <div class="row" ng-if="single_prop.car_parking_covered_or_open">
      <div class="col col-50 col-center name">

     Bike Parking Covered </div>
      <div class="col col-10">
           :</div> <span class="col">{{single_prop.two_wheeler_parking_covered_or_open}}</span>

      </div>
   <div class="row" ng-if="single_prop.car_parking_covered_or_open">
    <div class="col col-50 col-center name">

   Car Parking Covered </div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.car_parking_covered_or_open}}</span>

    </div>

    <div class="row" ng-if="single_prop.no_of_car_parking">
      <div class="col col-50 col-center name">
     No Of Car Parking</div>
      <div class="col col-10">
           : </div><span class="col">{{single_prop.no_of_car_parking}}</span>

      </div>

     <div class="row" ng-if="single_prop.no_of_two_wheeler_parking">
      <div class="col col-50 col-center  name">
     No Of Two Wheeler Parking</div>
      <div class="col col-10">
           :</div><span class="col"> {{single_prop.no_of_two_wheeler_parking}}</span>

      </div>

     <div class="row" ng-if="single_prop.gated_community">
    <div class="col col-50 col-center name ">
   Gated Community</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.gated_community}}</span>

    </div>

     <div class="row" ng-if="single_prop.key_brand_name">
    <div class="col col-50 col-center  name">
    Key Brand Name</div>
    <div class="col col-10">
         : </div><span class="col brk_1">{{single_prop.key_brand_name}}</span>

    </div>

     <div class="row" ng-if="single_prop.key_count">
    <div class="col col-50 col-center name ">
    Key Count</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.key_count}}</span>
</div>

     <div class="row" ng-if="single_prop.key_number">
    <div class="col col-50 col-center name">
    Key Number</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.key_number}}</span>

    </div>

    <div class="row" ng-if="single_prop.no_of_balcony">
    <div class="col col-50 col-center name ">
    No Of Balcony</div>
    <div class="col col-10">
         :</div><span class="col"> {{single_prop.no_of_balcony}}</span>
</div>

  <div class="row" ng-if="single_prop.modular_kitchen">
    <div class="col col-50 col-center name">
   Modular Kitchen</div>
    <div class="col col-10">
         : </div><span class="col">{{single_prop.modular_kitchen}}</span>

    </div>

  <div class="row" ng-if="single_prop.no_of_bathrooms">
    <div class="col col-50 col-center name">
   No Of Bathrooms</div>
    <div class="col col-10">
         : </div><span class="col">{{single_prop.no_of_bathrooms}}</span>

    </div>

  <div class="row" ng-if="single_prop.no_of_bedrooms">
    <div class="col col-50 col-center name ">
   No Of Bedrooms</div>
    <div class="col col-10">
         :</div><span class="col"> {{single_prop.no_of_bedrooms}}</span>

    </div>
    <div class="row" ng-if="single_prop.bedrooms_woodwork">
      <div class="col col-50 col-center name ">
     Bedrooms Wood Work</div>
      <div class="col col-10">
           :</div><span class="col"> {{single_prop.bedrooms_woodwork}}</span>

      </div>

   <div class="row" ng-if="single_prop.seperate_dining_area">
    <div class="col col-50 col-center name">
   Seperate Dining Area</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.seperate_dining_area}}</span>

    </div>

   <div class="row" ng-if="single_prop.wood_work_kitchen">
    <div class="col col-50 col-centername name ">
   Wood Work Kitchen</div>
    <div class="col col-10">
         :</div> <span class="col">{{single_prop.wood_work_kitchen}}</span>

    </div>

  <div class="row" ng-if="single_prop.water_facility">
    <div class="col col-50 col-center name ">
   Water Facility</div>
    <div class="col col-10">
         : </div><span class="col" >
           <span ng-repeat="a in single_prop.water_facility">
             <ul>
              <li>{{a}}</li>

            </ul></span></span>
            </span>
    </div>

  <div class="row" ng-if="single_prop.water_tax_consumer_number">
    <div class="col col-50 col-center name ">
   Water Tax Consumer No</div>
    <div class="col col-10">
         : </div><span class="col">{{single_prop.water_tax_consumer_number}}</span>

    </div>


   <div class="row" ng-if="single_prop.water_tax_number">
    <div class="col col-50 col-center name">
   Water Tax Number</div>
    <div class="col col-10">
         : </div><span class="col">{{single_prop.water_tax_number}}</span>

    </div>

   <div class="row" ng-if="single_prop.water_tax_receipt">
    <div class="col col-50 col-center  name">
   Watertax Receipt</div>
    <div class="col col-10">
         : </div><span class="col">{{single_prop.water_tax_receipt}}</span>

    </div>



  </div>
</div>


   <div class="list cont_2 con_3" ng-show="isSet(3)">
    <div class="card">
      <div class="row" ng-if="single_prop.agreement">
        <div class=" col col-67  col-center name">
          Maintanence Agreement
       </div>
        <div class="col col-33" ng-repeat="agg in single_prop.agreement">
           <div class=" animated infinite pulse delay-2s">
          <a class="" href="" ng-click="file_download(agg.image_path,agg.image_name,1)">
       <i class="icon ion-code-download link_1 "> </i>
     </a>
     </div>
   </div>
    </div>
    <div class="row" >
      <div class="col col-67  col-center name">
     PM Agreement  </div>
     <div class="col col-33 " ng-repeat="pm_agg in single_prop.pm_agreement">
      <div class=" animated infinite pulse delay-2s">

  <a class="" href="" ng-click="file_download(pm_agg.image_path,pm_agg.image_name,2)">
       <i class="ion-android-download link_1"></i>
     </a>
   </div>
     </div>



</div>
</div>
</div>

<div class="list cont_2 con_3" ng-show="isSet(4)">
    <div class="card">
        <div class="row">
            <div class="col col-33 col-center name">
                Tenant Name
           </div>
            <div class="col col-10">
              :</div> <span class="col brk_1">{{single_prop.tenant_detail.name + ' ('+ single_prop.tenant_detail.user_id +')'}}</span>
          </div>
          <div class="row">
              <div class="col col-33 col-center name">
                  Email ID
             </div>
              <div class="col col-10">
                :</div> <span class="col brk_1">{{single_prop.tenant_detail.tenants_email}}</span>
            </div>
            <div class="row">
                <div class="col col-33 col-center name">
                    Mobile Number
               </div>
                <div class="col col-10">
                  :</div> <span class="col brk_1">{{single_prop.tenant_detail.mobile_number}}</span>
              </div>
              <div class="row">
                  <div class="col col-33 col-center name">
                      Lease / Rent
                 </div>
                  <div class="col col-10">
                    :</div> <span class="col brk_1">{{single_prop.tenant_detail.rent_or_lease}}</span>
                </div>
                <div class="row">
                    <div class="col col-33 col-center name">
                        Due Last Date
                   </div>
                    <div class="col col-10">
                      :</div> <span class="col brk_1">{{single_prop.tenant_detail.due_last_date | date:'dd-MM-yyyy'}}</span>
                  </div>
                  <div class="row">
                      <div class="col col-33 col-center name">
                          Agreement Date
                     </div>
                      <div class="col col-10">
                        :</div> <span class="col brk_1">{{single_prop.tenant_detail.tenant_agreement_date}}</span>
                    </div>
                    <div class="row">
                        <div class="col col-33 col-center name">
                            Agreement Expiry Date
                       </div>
                        <div class="col col-10">
                          :</div> <span class="col brk_1">{{single_prop.tenant_detail.expery_date}}</span>
                      </div>
                      <div class="row">
                          <div class="col col-33 col-center name">
                              Deposit  Amount
                         </div>
                          <div class="col col-10">
                            :</div> <span class="col brk_1">{{single_prop.tenant_detail.deposit_amount}}</span>
                        </div>
                        <div class="row">
                            <div class="col col-33 col-center name">
                                Rent Amount
                           </div>
                            <div class="col col-10">
                              :</div> <span class="col brk_1">{{single_prop.tenant_detail.rent_lease_amount}}</span>
                          </div>
                          <div class="row">
                            <div class="col col-33 col-center name">
                              Maintenance Amount
                           </div>
                            <div class="col col-10">
                              :</div> <span class="col brk_1">{{single_prop.tenant_detail.maintenance_amount_tenant}}</span>
                          </div>

   </div>
     </div>


</ion-content>

</ion-view>
