<ion-view view-title="Properties">
    <ion-content class="padding backgrd">
 <ion-refresher on-refresh="property_list()" > </ion-refresher>
     <div class="card list  " ng-repeat="prop in property" style="border: 2px solid rgb(126, 162, 38);border-radius: 15px;" >
        <a class="item " href="#/app/property_detail/{{prop.id}}">
        <!-- <div class=" card  card_leave cont_2 tech_1">  -->
        <div class="row">
          <div class="col col-33  name">
             Name
          </div>
             <div class="col col-10">
            :</div>
          <div class="col brk_1">
          {{prop.property_name}}
          </div>
        </div>



          <div class="row">
          <div class="col col-33 name">
           Status
          </div> 
            <div class="col col-10">
            :</div>
          <div class="col">
           <span ng-if="prop.available_status == 'available'">Non Occupied</span>
           <span ng-if="prop.available_status == 'notavailable'">Occupied</span>
          </div>
        </div>
         <div class="row">
          <div class="col col-33  name">
          Address
          </div>
             <div class="col col-10">
            :</div>
          <div class="col brk_1">
           {{prop.property_address}}
          </div>
        </div>
         <div class="row">
          <div class="col col-33  name">
          City
          </div>
             <div class="col col-10">
            :</div>
          <div class="col ">
           {{prop.city_name}}
          </div>
        </div>
      </a>
    </div>

</ion-content>
</ion-view>

          <!-- <img src="{{prop.face}}"> -->
         <!--  <table style="width:100%">
          <tr>
            <td>
              property name</td>
            <td><span>{{prop.property_name}}</span></td>
         </tr>
          <tr>
          <td>property status    </td><td><span>{{prop.available_status}}</span></td>
         </tr>
         <tr>
          <td>property address </td><td ><h4><span class="item-text-wrap">{{prop.property_address}}</span></h4></td>
        </tr>
        <tr>
          <td>
             property city_name </td><td><span>{{prop.city_name}}</span></td>
             </tr>
       </table>
          
        </a>
                    </span>
                       </ion-content>
  </ion-view>
 -->
          <!-- <h3>Agreement Renewal Date: <span>{{prop.date_check}}</span></h3> -->
          <!-- <h3>property association_address: <span>{{prop.association_address}}</span></h3> -->
         
          <!-- <h3>property_description: <span>{{prop.property_description}}</span></h3> -->
         
       <!--   <span class="item item-list-detail">
        <ion-scroll direction="x">
          <img ng-repeat="item in prop.images" ng-src="{{img_url}}{{item.image_path}}/{{item.image_name}}" ng-click="showImages($index)" class="image-list-thumb" />
        </ion-scroll>
      </span>  -->


                



        <!-- <div class=" text-center" >

                        <dir-pagination-controls pagination-id="mealsPagination"></dir-pagination-controls>

      </div> -->

      
 