<ion-view title="Task Details" >
<ion-content class="backgrd"  >
   <div class="list cont_2 tech_1 con_3">
    <div class="card">
      <div class="row">
        <div class="col col-50  name">
         Tenant Name</div>
       <div clss="col col-10" style="padding-left: 5px;">
        : </div> 
        <div class="col" style="padding-left: 29px;">{{maintenance_list.tenant_name}}
      </div>
    </div>
    <div class="row">
      <div class="col col-50  name">
      Property Address </div>
      <div class="col col-10">
          : </div><div class="col">{{maintenance_list.property_address}}
     </div>
   </div>
  
  <div class="row">
    <div class="col col-50  name">
     Mobile Number </div>
    <div class="col col-10">
        :</div>   <div class="col ">  {{maintenance_list.issue_contact_number}}

    </div>
  </div>
  <div class="row">
    <div class="col col-50 name">

    Issue Category </div>
    <div class="col col-10">
         : </div>    <div class="col ">{{maintenance_list.category_name}}

    </div>
  </div>
  <div class="row">
    <div class="col col-50  name">

    Issue Details </div>
    <div class="col col-10">
         :</div>   <div class="col brk_1"> {{maintenance_list.description}}

    </div>
  </div>
  <div class="row">
    <div class="col col-50 col-center name">
    Address </div>
    <div class="col col-10">
         :</div>   <div class="col "> {{maintenance_list.property_address}}

    </div>
  </div>
  <div class="row">
    <div class="col col-50  col-center name">
    Requested Time</div>
    <div class="col col-10">
         : </div>   <div class="col ">{{maintenance_list.avaliable_time}}


   </div>
 </div>

 <div class="row">
  <div class="col col-50 col-center name">
 Alternate Time</div>
  <div class="col col-10">
         : </div>   <div class="col ">{{maintenance_list.another_avaliable_time}}

 </div>
</div>
<div ng-if="maintenance_list.issue_images">
 <a class="item item-list-detail" >
        <ion-scroll direction="x">
<img ng-repeat="item in maintenance_list.issue_images" ng-src="{{img_url}}{{item.image_path}}/{{item.image_name}}"
  ng-click="showImages($index,maintenance_list.issue_images)" class="image-list-thumb" />
        </ion-scroll>
      </a> 
        </div> 
      <div class="text-center padding">
<!--     <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
</iframe> -->
<video width="320" height="240" controls  autoplay ng-if="maintenance_list.issue_video" >
  <source src="{{img_url}}{{issue_video.image_path}}/{{issue_video.image_name}}">
  Your browser does not support the video tag.
</video>
</div>

<div class=" text-center">
<!--   <div class="col col-50"> -->
    <button class="button  button-positive button-small hed_4" ng-if="maintenance_list.issue_status == 'Assign Technician for Quote'" ng-click="showPopup(maintenance_list.issue_id,'Quote Work Accepted By Technician')">Accept</button>
      <button class="button  button-positive button-small hed_4" ng-if="maintenance_list.issue_status == 'Issue Assign To Technician'"  ng-click="showPopup(maintenance_list.issue_id,'Issue Accepted By Technician')">
    Accept
  </button>
<!-- </div> -->
<!-- <div class="col col-50"> -->
  <button class="button  button-positive button-small hed_4" ng-if="maintenance_list.issue_status == 'Assign Technician for Quote'" ng-click="showPopup(maintenance_list.issue_id,'Quote Work Rejected By Technician')">Decline</button>
    <button class="button  button-positive button-small hed_4" ng-if="maintenance_list.issue_status == 'Issue Assign To Technician'" ng-click="showPopup(maintenance_list.issue_id,'Issue Rejected By Technician')">
  Decline
  </button>
<!-- </div> -->
</div>
</div>
</div>

</ion-content>

</ion-view>