<ion-view view-title="Task">
  <div class="bar   bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
  <ion-content class="backgrd has-subheader">
<!-- <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" style="width: 100%;"> -->
    
    
   
   
   <div class="card card_detail padding" ng-repeat="issue in maintenance_list | filter:search" >
     <a class="item"  href="#/app/emp-detail/{{issue.issue_id}}" >
      <p><span ng-if="issue.issue_status == 'Assign Technician for Quote'"><b>Quotation Work</b></span><span ng-if="issue.issue_status == 'Issue Assign To Technician'"><b>Issue Work</b></span><br>
      </p>
      <!-- <h2>{{issue.issue_status}}</h2> -->
      <h2 class="name_2">{{issue.property_name}}</h2>
      <p class="name_2">{{issue.property_address}}<br>
      </p>
      <p >Requested Time :<span class="name_2 brk_1">{{issue.avaliable_time}}</span></p>
    </a>

  </div>
  

</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>