<ion-view view-title="Issue Details">
  <ion-content class="padding backgrd">
    <div class="card padding cont_2 tech_1 con_3  ">
      <div class="row " ng-if="task.tenant_name">
        <div class="col col-33 col-center name">
          Tenant Name
        </div>
        <div class="col col-67 ">
          <input type="text" ng-model="task.tenant_name" ng-disabled="true">
        </div>
      </div>
      <div class="row" ng-if="task.issue_contact_number">
        <div class="col col-33  col-center name">
          Mobile Number
        </div>
        <div class="col col-67">
          <input type="text" ng-model="task.issue_contact_number" ng-disabled="true">
        </div>
      </div>
      <div class="row" ng-if="task.category_name">
        <div class="col col-33  col-center name">
          Category
        </div>
        <div class="col col-67">
          <input type="text" ng-model="task.category_name" ng-disabled="true">
        </div>
      </div>
      <div class="row">
        <div class="col col-33  col-center name">
          Address</div>
        <div class="col col-67 " >
          <textarea rows="3" style="width: 104% ! important; " ng-model="task.property_address" ng-disabled="true"></textarea>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col col-33  col-center">
          Requested Time
        </div>
        <div class="col col-67">
          <input type="text" ng-model="task.avaliable_time" ng-disabled="true">
        </div>
      </div> -->
      <div class="row">
        <div class="col col-33  col-center name">
          Alternate Time
        </div>
        <div class="col col-67">
          <input type="text" ng-model="task.another_avaliable_time" ng-disabled="true">
        </div>
      </div>
     <div class="row">
        <div class="col col-33  col-center name">
          Description
        </div>
        <div class="col col-67">
            <textarea rows="3" style="width: 104% ! important; " ng-model="task.description" ng-disabled="true" ></textarea>
          <!-- <input type="text" ng-model="task.description" ng-disabled="true"> -->
        </div>
      </div>
      <div class="row" ng-if="buttonshow3">
        <div class="col col-33  col-center name " ng-if="buttonshow1">
          Start Time</div>
        <div class="col col-33  col-center name" ng-if="buttonshow2">
          Pause Time</div>
        <div class="col col-67" ng-if="buttonshow3">
          <input type="text" ng-model="task.last_update" ng-disabled="true">

        </div>
      </div>
      <div ng-if="task.issue_images">
        <a class="item item-list-detail" >
               <ion-scroll direction="x">
       <img ng-repeat="item in task.issue_images" ng-src="{{img_url}}{{item.image_path}}/{{item.image_name}}"
         ng-click="showImages($index,task.issue_images)" class="image-list-thumb" />
               </ion-scroll>
             </a> 
               </div> 

      <!-- <div class="text-center padding"> -->
      <!--     <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
</iframe> -->
      <!-- <video width="320" height="240" controls  autoplay>
  <source src="img/sample.mp4">
  Your browser does not support the video tag.
</video>
</div>  -->
    </div>


    <div class="text-center">
      <!-- <button class="button icon-left ion-location button-positive button-small hed_4" ng-click="location_get()">
        Share</button> -->
      <!-- <button class="button icon-left ion-play button-positive button-small hed_4" ng-click="tech_work_time(1)" > Start</button> -->
      <button class="button icon-left ion-play button-positive button-small hed_4" ng-click="tech_work_time(1)"
        ng-disabled="buttonshow1"> Start</button>
      <button class="button icon-left ion-pause button-positive button-small hed_4" ng-click="tech_work_time(2)"
        ng-disabled="buttonshow2"> Pause</button>
      <!-- <button class="button icon-left ion-pause button-positive button-small hed_4" ng-click="tech_work_time(2)"> Pause</button> -->
      <!-- <button class="button icon-left ion-pause button-positive button-small hed_4" ng-click="showPopup()"> Pause</button> -->
    </div>

    <div class=" text-center" ng-if="camerashow">
      <button accept="image/*" ng-model="files" ngf-multiple="true" required class="button button-positive button-small hedd_4 icon ion-camera butn " ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button><span ng-if="err_word.photos"></span>

<div class="marg_tpp">
<ion-scroll direction="x" class="item item-list-detail " ng-if="image_a.length > 0">
          <div>
             <span ng-repeat="imgs in image_a">
<img ng-src="{{imgs}}" ng-click="showImages($index,image_a)" class="image-list-thumb" />
<a class="button ion-close-circled butn_delt" style="margin-top: -14px;" ng-click="remove(imgs)"></a>
</span>
          </div>
        </ion-scroll>
      </div>
    </div>
    <div class="text-center">

      <div class="text-center padding-top" ng-if="err" style="color:red">
        Photos Needed</div>
      <!-- <a class="button  button-positive button-small hed_4" href="#/app/tech_issues">Status</a> -->
<!--  <a class="button  button-positive button-small hed_4" ng-click="showStatus()">Status</a> -->
      <a class="button  button-positive button-small hed_4" ng-click="submit_work(image_a,task.issue_id)" ng-disabled="shown">Submit</a>


    </div>
  </ion-content>
</ion-view>
