<ion-view view-title="My Job">
    <div class="bar  bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
  <ion-content class="backgrd has-subheader">
<!-- <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" style="width: 100%;"> -->
 <!--    <div class="bar bar-header">
  <h1 class="title">Header</h1>
</div> -->

<!--    <div class="row">
    	<div class="col col-50">
        <p style="text-align: center;">Accepted Works</p>
      </div>

   </div> -->
  <div class="card list card_detail padding" ng-repeat="detail in work | filter:search">
     <a class="item"  href="#/app/tech_person/{{detail.issue_id}}">
      <h2><b>{{detail.issue_token}} </b>
         <span ng-if="detail.work_type == 'issue'"><b>- Issue Work</b></span><span ng-if="detail.work_type == 'quote'"><b>- Quotation Work</b></span><br>

        <!-- <span ng-if="detail.issue_status == 'Quote Work Accepted By Technician'">Quotation Work</span>
        <span ng-if="detail.issue_status == 'Issue Accepted By Technician'">Issue Work</span> -->
      </h2>
     <p class="name_4">Category : {{detail.category_name}}</p>
     <p class="name_4">Requested Time :<span >{{detail.avaliable_time}}</span></p>
      <!-- <p class="name_2">{{detail.property_name}}</p> -->
      <p class="brk_1 name_2">{{detail.property_address}}<br>
        {{detail.city_name}}</p>

      <!-- <p>Alternate Time :<span class="name_2">{{detail.another_avaliable_time}}</span></p> -->

    <!--   <p class="name_2">Tenant Time :{{detail.avaliable_time}}</p> -->
    </a>

  </div>
</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>
