<ion-view view-title="Attendance Log">
<!-- 
    <div class="list " ng-hide="emptyimg"> -->
      <div class="bar  bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg" >
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search">
        </label>
      </div>
    <!-- </div> -->
  <ion-content class=" backgrd has-subheader">
 <ion-refresher on-refresh="attendance()" > </ion-refresher>



    <div class="list" ng-repeat="(key, value) in list | filter :search | groupBy: 'category_name' " ng-if=" user.admin_role_id == 8">
      <div class="item item-divider text-center head_1">
       {{key}}
     </div>

     <span class="item" ng-repeat="data in value">
      <span> {{data.name}} </span>
      <a class="con_txt" href="tel:{{data.mobilenumber}}">{{data.mobilenumber}}</a>
    </span>
    
  </div>

  <div class="list" ng-repeat="(key, value) in list | filter :search | groupBy: 'role' " ng-if=" user.admin_role_id == 5">
    <div class="item item-divider text-center head_1">
     {{key}}
   </div>
   
   <span class="item" ng-repeat="data in value">
    <span> {{data.name}}({{data.user_id}}) </span>
    <a class="con_txt" href="tel:{{data.mobilenumber}}">{{data.mobilenumber}}</a>
  </span>
  
</div>


<div class="list" ng-repeat="(key, value) in list | filter :search | groupBy: 'role' " ng-if=" user.admin_role_id == 1 || user.admin_role_id == 2">
  <div class="item item-divider text-center head_1">
   {{key}}
 </div>
 
 <span class="item" ng-repeat="data in value">
  <span> {{data.name}}({{data.user_id}}) </span>
  <a class="con_txt" href="tel:{{data.mobilenumber}}" style="color:green;">{{data.mobilenumber}}</a>
</span>

</div>
</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>