<ion-view title="Enquiry" >

<ion-content class="padding backgrd">
  <div class=" list card cont_2 tech_1 tech_2 "
  style="box-shadow: -3px -2px 6px 1px rgba(142, 136, 136, 0.3), -1px 8px 6px 0px rgba(82, 80, 80, 0.22);">
  <form name="myForm">

    <div class="item item-input item-select form_1 row">

    <div class="col col-33 input-label col-center">

       Category
     </div>
     <div class="col col-67">
          <select ng-model="enquiry_input.service" ng-options="category.id as category.category_name for category in categories"  >
            <option disabled selected value="">Select Option</option>
          </select>

        <span class="help-block marg_4" ng-class="err_word.service" ng-show="err_word.service" style="float:right;margin-right: 12px;">
         select service type
       </span>
     </div><!-- /div> -->
     </div>


<div class="row">
 <div class="col col-33 input-label  col-center">
 Description</div>
 <div class="col col-67">
   <textarea  rows="4" placeholder=" Enter Description"  cols="23" ng-model="enquiry_input.description"  style="margin-top: 10px"></textarea>
   <span class="help-block marg_4" ng-class="err_word.description" ng-show="err_word.description" style="float:right;">
    Description is required
  </span>
</div>
</div>
<div>
 <label class="item item-input item-select form_1 row">
    <div class=" col col-33">
   <div class="input-label">
     Contact By
   </div>
    </div>
    <div class="col col-67">
   <select ng-model="enquiry_input.type_of_contact" >
    <option disabled selected value="" >Select  Option</option>
    <option value="call">Mobile call</option>
    <option  value="mail">Mail</option>
  </select>
</div>
</label>
<span class="help-block marg_4" ng-class="err_word.type_of_contact" ng-show="err_word.type_of_contact" style="float:right;margin-right: 12px;">
  select contact type
</span>
</div>
</br>
<div class="row size_1">
 <div class="col col-50 input-label col-center">
Upload Image

</div>
<div class="col col-50">
  <button  accept="image/*"  ng-model="files" ngf-multiple="true"  required class="button button-positive button-small hedd_4 icon ion-camera butn" ng-click="showActionsheet()" ng-model="photos" ng-class="err.photos"></button>
</div>
 </div>
 <ion-scroll direction="x" class="item item-list-detail" ng-if="image_a.length > 0">

  <span ng-repeat="imgs in image_a">
    <img ng-src="{{imgs | convertFileSrc}}" ng-click="showImages($index,image_a)" class="image-list-thumb" />
    <a class="button ion-close-circled butn_delt" ng-click="remove(imgs)"></a>
  </span>
</ion-scroll>

<div class="text-center padding ">

  <button class="button button-positive button-small hed_4"  ng-click="existing_customer_check(enquiry_input,image_a)" >
    Submit
  </button>
</div>
</form>
</div>
</ion-content>
</ion-view>
