 <ion-view>
  <ion-nav-buttons side="right">
       <a class="" href="#/app/search1">
         <button class = "button  button-icon  ion-search">
         </button>
       </a>
       <button class = "button  button-icon  ion-ios-bell"  ng-click = "openPopover($event)"></button>
     </ion-nav-buttons>
   <ion-content class="backgrd padding tag_2">
     <div class="text-center">
        <img class="cover-image padding" src="img/logo.png">
      </div>
 
    <div class=" cont_1 ">
     <div class="  text-center ">
         <a class="" href="#/app/head_list">
           <i class="icon ion-home round-icon "></i>
           <h4>NEW ISSUES</h4>  
         </a>
       </div>
       <div class="  text-center padding-top">
         <a class="" href="#/app/create">
          <i class="icon ion-compose l round-icon"></i>
          <h4>UPDATE VISIT STATUS</h4>
        </a>
      </div>
</div>
</ion-content>
</ion-view>