<ion-view view-title="{{user.role}}">
  <ion-content class="backgrd padding tag_2 scr_ios">
    <div class="row row-center">
      <div class="col text-center">
        <img class="cover-image " src="img/logo.png">
      </div>
    </div>





    <div class="bag_img cont_1" ng-if="user.admin_role_id == 9">
      <div class="row padding">
        <!--        <div class="col col-50 backgd_img  text-center padding-top">
         <a class="" href="#/app/profile">

       <i class=" icon ion-person  icon_common home_1"></i>
            <h4>profile</h4>
        </a>

     </div> -->
        <div class=" col col-100 backgd_img text-center padding-top">
          <a class="" href="#/app/emp-issue">
            <i class=" icon ion-checkmark-round  icon_common home_1"></i>
            <h4>Task</h4>
          </a>
        </div>
      </div>
        <div class="row padding">

        <div class="col col-100 backgd_img text-center padding-top">
          <a class="" href="#/app/work">
            <i class=" icon ion-clock   icon_common home_1"></i>
            <!-- <i class="icon ion-compose icon_common"></i> -->
            <h4>My Job</h4>
          </a>
        </div>


      </div>
      </div>

    <div class="bag_img cont_1" ng-if="user.admin_role_id == 5">
      <div class="row">
        <div class="col col-50 backgd_img text-center padding-top">
          <!-- <a class="" href="#/app/issue_list"> -->
            <a class="" href="#/app/issue_master_list">
            <i class="icon ion-alert-circled icon_common home_1"></i>
            <h4>Issues</h4>
          </a>
        </div>
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/inspection">
            <i class="ion-android-folder icon_common home_1"></i>
            <h4>Inspection </h4>
          </a>
        </div>
      </div>
      <div class="row ">
      <div class="col col-50 backgd_img text-center padding-top">
        <div class="backgd_img  text-center padding-top">
          <a class="" href="#/app/occupied_properties">

            <i class="icon ion-home icon_common home_1"></i>
            <h4>Properties</h4>
          </a>

        </div>
      </div>
      <div class="col col-50 backgd_img  text-center padding-top" style="margin-top: 11px;">
          <a class="" href="#/app/payment">

            <i class="icon ion-checkmark-round icon_common home_1"></i>
            <h4>Receipts</h4>
          </a>

        </div>
        </div>
     </div>





    <div class="bag_img cont_1" ng-if="user.admin_role_id == 7">
      <div class="row padding">

        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/status">
            <i class="icon ion-alert-circled icon_common home_1"></i>
            <h4>Issues Status</h4>
          </a>
        </div>
        <div class="col col-50 backgd_img  text-center padding-top">
          <a class="" href="#/app/payment">

            <i class="icon ion-checkmark-round icon_common home_1"></i>
            <h4>Receipts</h4>
          </a>

        </div>
      </div>
      <div class="text-center">

      <div class=" backgd_img text-center padding-top">

          <a class="" href="#/app/rent-history">
            <i class="icon ion-compose icon_common home_1"></i>
            <h4>Transaction History</h4>
          </a>
        </div>
      </div>
      <!-- <div class="text-center padding-top">
        <button class="button button-small button-balanced " ng-click="showRating()">
          Rating
        </button>
      </div> -->
    </div>

    <div class="bag_img cont_1" ng-if="user.admin_role_id == 4">
      <div class="row padding">
        <!--    <div class="col col-50 backgd_img text-center padding-top">
           <a class="" href="#/app/profile">
           <i class="icon ion-person icon_common home_1"></i>
           <h4>Profile</h4>
       </a>
     </div> -->
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/property">
            <i class="icon ion-home icon_common home_1"></i>
            <h4>Properties</h4>
          </a>
        </div>


        <div class="col col-50 backgd_img text-center padding-top">

          <a class="" href="#/app/rent-history">
            <i class="icon ion-compose icon_common home_1"></i>
            <h4>Transaction History</h4>
          </a>
        </div>
      </div>

         <div class="text-center">

       <div class=" backgd_img text-center padding-top">
        <a class="" href="#/app/payment">

          <i class="icon ion-checkmark-round icon_common home_1"></i>
          <h4>Receipts</h4>
        </a>

      </div>
    </div>
  </div>
      <!-- <div class="text-center">
     <div class="backgd_img text-center padding-top">

        <a class="" href="#/app/rent-history">
      <i class="icon ion-compose icon_common home_1"></i>
      <h4>Transaction history</h4>
  </a>
</div>
</div> -->



    <div class="bag_img cont_1" ng-if="user.admin_role_id == 8">
      <div class="row padding">
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/issue_master_list">
            <i class="icon ion-folder icon_common home_1"></i>

            <h4>New Issues</h4>
          </a>
        </div>
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/issue_status">
            <i class="icon ion-alert-circled icon_common home_1"></i>
            <h4>Status of Issue</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 backgd_img  text-center padding-top">
          <a class="" href="#/app/attendance">

            <i class="ion-document-text icon_common home_1"></i>
            <h4>Attendance</h4>
          </a>

        </div>

        <div class="col col-50 backgd_img text-center padding-top">

          <a class="" href="#/app/leave_approve">
            <i class="icon ion-compose icon_common home_1"></i>
            <h4>Leave Approve</h4>
          </a>
        </div>
      </div>

    </div>

    <div class="bag_img cont_1" ng-if="user.admin_role_id == 6">
      <div class="row padding">
        <div class="col col-50 backgd_img text-center padding-top">
          <!-- <a class="" href="#/app/issue_list"> -->
            <a class="" href="#/app/issue_master_list">
            <i class="icon ion-alert-circled icon_common home_1"></i>
            <h4>Issues</h4>
          </a>
        </div>
        <!--   <div class="col col-50 backgd_img text-center padding-top">
         <a class="" href="#/app/leave_approve">
            <i class="icon ion-folder icon_common home_1"></i>
            <h4>Leave</h4>
        </a>
     </div> -->


        <div class="col col-50 backgd_img  text-center padding-top">
          <a class="" href="#/app/occupied_properties">

            <i class="icon ion-home icon_common home_1"></i>
            <h4>Properties</h4>
          </a>


        </div>
      </div>

      <div class=" backgd_img text-center padding-top">
        <a class="" href="#/app/inspection">
          <i class="ion-android-folder icon_common home_1"></i>
          <h4>Inspection </h4>
        </a>
      </div>
      <div class="padding-top">
        <div class="list padding">

     <!--      <div class="item item-input-inset atten_icon">
            <label class="item-input-wrapper attent_1">
              <input type="text" placeholder="Attendance Number">
            </label>
            <button class="button button-positive button-small hed_butn">
              Submit
            </button>
          </div> -->

        </div>
      </div>
    </div>

    <div class="bag_img cont_1" ng-if="user.admin_role_id == 2 || user.admin_role_id == 1">
      <div class="row   padding">
     <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/manage_issue">
            <i class="icon ion-filing larger icon_common home_1"></i>
            <h4>Manage Issue</h4>
          </a>
        </div>

  <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/cust_detail">
            <i class="ion-android-contacts icon_common home_1 "></i>
            <h4>Customer Details</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/tenant_list">
            <i class="ion-person-stalker icon_common home_1 "></i>
            <h4>Tenant List</h4>
          </a>
        </div>


  <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/inspection_list">
            <i class="ion-android-folder icon_common home_1 "></i>
            <h4>Inspections List</h4>
          </a>
        </div>
      </div>
    </div>


    <!-- <div class="bag_img cont_1" ng-if="user.admin_role_id == 1">
      <div class="row padding">

        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/cust_detail">
            <i class="icon ion-android-folder icon_common home_1 "></i>
            <h4>Customer Details</h4>
          </a>
        </div>
      </div>
      <div class="text-center">
        <div class="col col-50 backgd_img text-center padding-top">
          <a class="" href="#/app/manage_issue">
            <i class="icon ion-filing larger icon_common home_1"></i>
            <h4>Manage Issue</h4>
          </a>
        </div>
      </div>
    </div> -->

<!-- =================attendace======================= -->
     <div class="" ng-if="user.admin_role_id == 9|| user.admin_role_id == 8 || user.admin_role_id == 5 || user.admin_role_id == 6">
 <div class="card padding cad_2 ">
    <span class="meg_1">{{message_content}}</span>



       <form >
        <div class="item item-input-inset atten_icon">
           <label class="item-input-wrapper attent_1">
                <input type="password" placeholder="Attendance Pin" ng-model="att_pin.id">
            </label>
              <button class="button button-positive button-small hed_butn" ng-disabled="!att_pin.id" type="submit" ng-click="attendance(att_pin.id)">
                Submit
              </button>
            </div>

          </form>
        </div>

      </div>
  </ion-content>

</ion-view>
