<ion-view view-title="New Issues">
  <ion-content class="backgrd">
     <div class="bar  item-input-inset ">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="list ">
     <button class="button button-full button-balanced">
       Electrical Issues
     </button>
     <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
      <img src="img/issue.jpg">
      <h2>
      Temple View Appartment</h2>
      <br>
      <h3>
      Property Code : RAP 102 A2</h3>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
      <img src="img/ben.png">
      <h2>
      Temple View Appartment</h2>
      <br>
      <h3>
      Property Code : RAP 102 A2</h3>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
     <img src="img/ben.png">
     <h2>
     Temple View Appartment</h2>
     <br>
     <h3>
     Property Code : RAP 102 A2</h3>
     <i class="icon ion-chevron-right icon-accessory"></i>
   </a>
   <button class="button button-full button-balanced">
   Plumbing Issues</button>
   <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
    <img src="img/ben.png">
    <h2>
    Temple View Appartment</h2>
    <br>
    <h3>
    Property Code : RAP 102 A2</h3>
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>
  <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
   <img src="img/ben.png">
   <h2>
   Temple View Appartment</h2>
   <br>
   <h3>
   Property Code : RAP 102 A2</h3>
   <i class="icon ion-chevron-right icon-accessory"></i>

 </a>
 <a class="item item-avatar item-icon-right" href="#/app/issue_detail">
   <img src="img/ben.png">
   <h2>
   Temple View Appartment</h2>
   <br>
   <h3>
   Property Code : RAP 102 A2</h3>
   <i class="icon ion-chevron-right icon-accessory"></i>
 </a>
</div>

</ion-content>

</ion-view>
