<ion-view view-title="Apply Leave">
  <ion-content class="backgrd">
      <ion-refresher on-refresh="leave_list_all()"></ion-refresher>

    <div class=" card  card_leave cont_2 tech_1"> 


      <div class="row">      
       <div class="col col-33 col-center ">
        From 
      </div>
      <div class="col col-67">
        
        <ion-datetime only-valid="{'after': 'today', 'inclusive': true}" name="min" class="item item_leave1" ion-datetime-picker  ng-model="lev.startdate" >
          <i class="icon ion-calendar " style="color: brown;"></i>
          <strong>{{ lev.startdate| date: "dd-MM-yyyy" }}</strong>
        </ion-datetime>
        
        <span ng-if="err_word.startdate" class="errormsg" ng-hide="lev.startdate">select from date</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-center">
        To 
      </div>
      <div class="col col-67">

        <div class="item item_leave1" only-valid="{'after': 'today', 'inclusive': true}" ion-datetime-picker  ng-model="lev.enddate" ng-class="err.enddate" >
          <i class="icon ion-calendar " style="color: brown"></i><strong  class="" style="padding-left: 11px">{{ lev.enddate| date: "dd-MM-yyyy" }}</strong>
        </div><span ng-if="err_word.enddate" class="errormsg" ng-hide="lev.enddate">select to date</span>
        <span ng-show="samedate"  ng-bind='samedate'></span>
      </div>

    </div>
<!--  <div class="row">
    
</div> -->

<div class="row ">
  <span class="input-label col col-33">Description</span>
  <div class="col col-67">
   
   <textarea  rows="4"  placeholder="Description" ng-model="lev.description" ng-class="err.description"></textarea>
   <span class="errormsg" ng-bind="err_word.description" ng-hide="lev.description"></span></div>
 </div>
 
 <div class="padding-top text-center">
   <a class="button  button-positive button-small hed_4" ng-click="leave_req(lev)">Send</a>

   <a class="button  button-positive button-small hed_4" href="" ng-click="reset()">Reset</a>
 </div>
</div>
<div class=" card  card_leave cont_2 tech_1" ng-if="leave_list"> 
 <div class="text-center"><h5>Request Status</h5> </div>
 <ion-item class="card" ng-repeat="leave in leave_list"><!-- ng-click="customer_details(customer.id)"> -->
  
  <div class="row">
    <div class="col col-50 name">Start Date</div>
    <div class="col col-10">:</div>
    <div class="col">{{leave.startdate}}</div>
  </div>
  <div class="row">
      <div class="col col-50 name">End Date</div>
      <div class="col col-10">:</div>
      <div class="col">{{leave.enddate}}</div>
    </div>
    <div class="row">
        <div class="col col-50 name">Status</div>
        <div class="col col-10">:</div>
        <div class="col">{{leave.leave_status}}</div>
      </div>
      <div class="row" ng-if="leave.leave_comment">
        <div class="col col-50 name">comment</div>
        <div class="col col-10">:</div>
        <div class="col">{{leave.leave_comment}}</div>
      </div>
  </ion-item>
</div>

</ion-content>
</ion-view>
