<ion-view view-title="{{Profile_head}}" >
  <ion-content class="profile_list backgrd">

    <div class="card">

      <form name="myForm" novalidate>

       <div class="cont_2 tech_1 tech_2 "  ng-if="!change_pass">

        <!--  <div class="item item-avatar">
          <img class="full-image" src="img/max.png" ng-click="showActionsheet()">

        </div> -->
        <label class=" item-input ">
            <span class="input-label name">Name</span>
            <input class="input_field" type="text" placeholder="Enter Your Name" name="email" ng-model="profile.name" ng-minlength="3" ng-maxlength="40" required="" ng-readonly="edit_pro"/>
          </label>
             <label class=" item-input ">
               <span class="input-label name">User ID</span>
           {{profile.user_id}}
          </label>
        <label class="item item-input item-inline-label " style="border-style: none">
         <span class="input-label brk_1 name">Email ID</span>
         <input class="input_field email_1" type="email" placeholder="Enter Your Email" name="password" ng-model="profile.email" ng-readonly="edit_pro"/>
       </label>
    <span class="error-message padding-bottom marg_4" ng-bind="error.email[0]"></span>
       <label class="item item-input item-inline-label" style="border-style: none">
        <span class="input-label brk_1 name">Mobile Number</span>
        <input class="input_field " style="padding-right: 7px;" type="tel" placeholder="Enter Your Mobile Number" name="email" ng-model="profile.mobilenumber" ng-minlength="3" ng-maxlength="50" required="" ng-readonly="edit_pro"/>
      </label>
    <span class="error-message padding-bottom marg_4" ng-bind="error.mobilenumber[0]"> The mobile number field is required</span>
      <label class="item item-input item-inline-label " style="border-style: none">
        <span class="input-label name">Address</span>
         <div class="tech_1 tech_2 cont_2">
       <textarea class="brk_1 add_1 " rows="4" cols="40" placeholder="Enter Your Address" ng-model="profile.address" ng-readonly="edit_pro"/>

          </textarea>
        </div>
</label>

<span class="error-message padding-bottom marg_4" ng-bind="error.address[0]"></span>
      <div class="row">
      <div class="col col-67 col-center ">
   <label class="item item-input item-inline-label "  ng-hide="change_pass"  ng-if="profile.admin_role_id == 7">
        <span class="input-label ag_1">Lease Agreement Date
        </span>
      </label>
    </div>


     <div class="col col-33 pg_1 col-center brk_1 name">
        <div ng-bind="profile.tenant_agreement_date | date:'dd-MM-yyyy'"></div>
      </div>
    </div>

     <div class="row">
      <div class="col col-67 col-center">
       <label class="item item-input item-inline-label "  ng-hide="change_pass"  ng-if="profile.admin_role_id == 7 || user.admin_role_id == 4 ">
        <span class="input-label ag_1 ">Agreement Renewal Date
        </span>
      </label>
    </div>

     <div class="col col-33 col-center name pg_1">
        <div ng-bind="profile.date_check"></div>
      </div>
    </div>

      <div class="row">
      <div class="col col-67 col-center brk_1 name ">
       <label class="item item-input item-inline-label "  ng-hide="change_pass"  ng-if="profile.admin_role_id == 7 ">
        <span class="input-label ag_1 ">Mapped Property
        </span>
      </label>
    </div>

     <div class="col col-33 brk_1 name pg_1">
        <div>
          <span ng-bind="profile.property_name"></span><span ng-bind="profile.property_unique_code"></span>
          <br/>
          <span ng-bind="profile.property_address"></span>
          <br/>
          <span ng-bind="profile.city_name"></span>
        </div>
      </div>
    </div>
        <!-- <input class="input_field txt_box" type="text" placeholder="March 07/2018" ng-model="profile.lease_agreement_date + 365" ng-readonly="edit_pro"/>  -->





    <span class="error-message padding-bottom marg_4" ng-bind="error.address[0]"></span>

    </div>
  </form>
    <div class="chng_pw" ng-show="!edit_pro">
     <div class="text-center padding">
       <button class="button button-positive button-small hed_4"  type="submit" ng-click="edit(profile)">Update</button>
       <button class="button button-positive button-small hed_4"  ng-click="back()">Cancel</button>
     </div>
   </div>

   <div ng-hide="type" class="edit_profile chng_pw">
     <div class="text-center padding">
       <button class="button button-positive button-small hed_4" ng-click="edit_prof()">Edit Profile</button>
       <button class="button button-positive button-small hed_4" ng-click="password()">Change Password</button>
     </div>

   </div>
   <form ng-if="change_pass" name="myForm"  novalidate class="chng_pass_outer">
    <div  class="cont_2 tech_1 tech_2" >
     <div class="list ">
<!--
   <label class=" item-input ">
            <span class="input-label ">Name</span>
            <input class="input_field" type="text" placeholder="Enter Your Name" name="email" ng-model="profile.name" ng-minlength="3" ng-maxlength="40" required="" ng-readonly="edit_pro"/>
          </label> -->




       <label class=" item-input ">
            <span class="input-label ">Current Password</span>

          <input class="input_field change_ios " type="password" placeholder="Enter Current Password" name="current_password" ng-model="data.current_password" required="" /> </label>


      <label class=" item-input ">
            <span class="input-label "> New Password</span>


          <input class="input_field "   type="password" placeholder="Enter New Password" name="new_password" ng-model="data.new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required="" />
        </label>





        <span class="error-message marg_5 " ng-show="myForm.new_password.$error.required && myForm.new_password.$dirty && myForm.new_password.$invalid">New Password required</span>

      <span class="error-message marg_4" ng-show="!myForm.new_password.$error.required && (myForm.new_password.$error.minlength || myForm.new_password.$error.maxlength)&& myForm.new_password.$dirty">Password must be between 8 and 20 characters.</span>
      <span class="error-message marg_4" ng-show="!myForm.new_password.$error.required && !myForm.new_password.$error.minlength && !myForm.new_password.$error.maxlength&& myForm.new_password.$error.pattern && myForm.new_password.$dirty">Must contain one number, one lowercase &amp; one uppercase letter</span>


  <label class=" item-input ">
            <span class="input-label "> Confirm Password</span>



        <input class="input_field "   type="password" placeholder=" Re-Enter Password" name="confirm_password" ng-model="data.confirm_password" required="" /> </label>

    <!-- <span class="error-message marg_5" ng-show="!myForm.confirm_password.$error.required && (data.confirm_password != data.new_password)&& myForm.confirm_password.$dirty">Password Mismatch</span> -->
    <div class="chng_pw">
     <div class="text-center padding">
      <button class="button button-positive button-small hed_4" type="submit" ng-click="change_password(data)" ng-readonly="myForm.$invalid" ng-disabled="myForm.$invalid" >Submit</button>
      <button class="button button-positive button-small hed_4"  ng-click="back()">Cancel</button>
    </div>
  </div>
</div>
</div>
</form>
</div>
</ion-content>
</ion-view>
