<ion-view view-title="propertyList">
        <ion-content class="padding backgrd">

  <ion-slide-box show-pager="true" class="proper_img">
    <ion-slide>
        <img  class="full-image" src="img/ben.png" />
    </ion-slide>
    <ion-slide>
        <img class="full-image" src="img/ben.png" />
    </ion-slide>
    <ion-slide>
        <img class="full-image" src="img/ben.png" />
    </ion-slide>
</ion-slide-box>

          <h4><b>{{prop.propertyName}}</b></h4>
          <div>Address: {{prop.address}}</div>
          <div>Property Details: {{prop.land}}<span>{{prop.feet}}</span></div>
          <h4><b>Tenant Details</b></h4>
          <div>Tenant Name: {{prop.tName}}</div>
          <div>Contact.No: {{prop.tContact}}</div>
          <div>Email Id: {{prop.temail}}</div>
          <div>Stay Duration: {{prop.tduration}}</div>
          <div class="text-center">
          <a class="button  button-positive button-small hed_4" href="#/app/head">
                View
          </a>
        </div>
        </ion-content>
      </ion-view>