
<ion-view title="search" hide-tabs="true">
	<ion-content class="backgrd">
		<div class="bar  item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			</label>
		</div>
	</ion-content>
</ion-view>