 <ion-view >
   <ion-nav-bar class="bar-balanced" align-title="center"> 
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>

<h1 class="title">Services 

</h1>
    </ion-nav-title>
  </ion-nav-bar>

  <!-- <button ng-click="service_detail()">push</button> -->
  <ion-content class="backgrd padding  has-header">
    <ion-list  ng-repeat="x in image" id="{{x.id}}">
      <div >
        <div class="img_overlay" ng-click="toggleGroup(x);slideTo(x.id)"
        ng-class="{active: isGroupShown(x)}" >
        <img class="full-image" ng-src="{{img_url}}{{x.prof}}" />
        <div class="overlay">
          <i class="icon" ng-class="isGroupShown(x) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          <p>{{x.name}}</p>
        </div>
      </div>
      <div class="item item-accordion animate-show-hide  item-thumbnail-left"
      ng-repeat="item in x.slide"
      ng-show="isGroupShown(x)">
      <img src="{{img_url}}{{item.image}}"/>
      <div >
      <h1 class="ser_hed">{{item.heading}}</h1></div>
    </div>
  </div>
</ion-list>
</ion-content>
</ion-view>