  <ion-view view-title="Tech issues">
  	<ion-content class="padding backgrd"> 
  		<div class="list" ng-repeat="tech in issues">

  			<div class="item item-icon-right" ng-click="issueslist(tech)" ng-class="{active: islistShown(tech)}">
  				<i class="icon ion-edit" style="font-size: 20px" ></i>
  				<p>{{tech.list}}</p>
  			</div>
  			<div class="item item-accordion cont_2 " ng-show="islistShown(tech)">
  				<textarea  type="text" placeholder="Description" rows="5" cols="37"></textarea>
  				<div class="text-center padding">
  					<button class="button button-positive button-small hed_4" >
  						Submit
  					</button>
  				</div>
  			</div>
  		</div>

  	</ion-content>
  </ion-view>