<ion-view >
    <!-- <ion-nav-buttons side="right">
       <a class="" href="#/app/search1">
         <button class = "button  button-icon  ion-search">
         </button>
       </a>
       <button class = "button  button-icon  ion-ios-bell"  ng-click = "openPopover($event)"></button>
     </ion-nav-buttons> -->
 <ion-content class="backgrd padding-top tag_2">
 	 	<div class="row row-center" >
        <div class="col text-center" >
            <img class="cover-image padding" src="img/logo.png" >
        </div>
      </div>
       <h1 class= "text-center " >Welcome To<br> Rapro </h1>
       <div class="padding text">
       	<p>
       	As your new property management team we would like to welcome you into your new home and thank you for choosing to work with us.
     	As your new property management team we would like to welcome you into your new home and thank you for choosing to work with us.
</p>
</div>
</ion-content>
</ion-view>
