<ion-view view-title="Assigned Task" >
	<ion-content class="padding backgrd">
		<div class="list cont_2">
			
			<div class="card " ng-click="detail.show()">
				<div class="row">
					<div class="col col-50 col-center name">
						Name
					</div>
					<div class="col col-50 ">
						<input type="text"  ng-model="name"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-50 col-center name">
						Assign Tasks
					</div>
					<div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-30 col-center name">
						Completed Task
					</div>
					<div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-50 col-center name">

						Pending Task
					</div>
                     <div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
			</div>
			<div class="card " ng-click="detail.show()">
				<div class="row">
					<div class="col col-50 col-center name">

						Name
					</div>

					<div class="col col-50 ">
						<input type="text"  ng-model="name"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-50 col-center name">

						Assign Tasks
					</div>
                       <div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-30 col-center name">

						Completed Task
					</div>

					<div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
				<div class="row">
					<div class="col col-50 col-center name">

						Pending Task
					</div>

					<div class="col col-50 ">
						<input type="text"  ng-model="number"  ng-disabled="true"  >
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>