 <ion-view view-title="Assign Work">
  <ion-content class="padding backgrd">
<ion-list>
  <ion-radio ng-repeat="item in maintenance_list"
                   ng-value="item.id"
                   ng-change="select_maintenance(item)"
                   ng-model="choice">
          {{ item.name }}
        </ion-radio>
</ion-list>
<div class="padding text-center">
    <button class="button button-positive button-small hed_4"  ng-click="assign_issue(choice)">
         Submit
      </button>
         </div>

</ion-content>
</ion-view>