<ion-view view-title="{{title_new}}" >

  <ion-content class="padding backgrd">

    <div class="list" ng-hide="edit_pro">
     <!-- <label class="item item-input item-select label_1 " style="border-width: 3px" ng-class="err.property_id" ng-if="user.admin_role_id == 5 || user.admin_role_id == 6"> -->
     <label class="item item-input item-select label_1 " style="border-width: 3px"  ng-if="user.admin_role_id == 5 || user.admin_role_id == 6">
      <div class="input-label " >
         Property <span style="color:red">*</span>
      </div>
      <!-- <input type="text" class="form-control" ng-model="data.property" placeholder="Search" typeahead="item as item.customer_name + ' | ' + item.property_address + ' | ' + item.city_name   for item in property_name_list | filter:$viewValue" >  -->

      <select  ng-model="issue.property_id" ng-options="item.id as item.customer_name + ' | ' + item.property_address + ' | ' + item.city_name   for item in property_name_list"
      ng-disabled="edit_pro" style="width: 61%;">
      <option selected value="" disabled>Select Option</option>
    </select>
    <!-- <span ng-bind="err_word.property_id" ng-if="issue.property_id"></span> -->
     </label>

  <div class=" card list">
   <div class="padding padding_w">Requested Date & Time <span style="color:red">*</span></div>
   <div type="" placeholder="Requested Date & Time" name="min" class="item me_1" only-valid="{'after': 'today', 'inclusive': true}" ion-datetime-picker seconds
   am-pm ng-model="issue.avaliable_time"   ng-disabled="edit_pro" >
   <h3>{{ issue.avaliable_time| date: "dd-MM-yyyy" }} <span class="text_2"> {{ issue.avaliable_time| date:
   "h:mm a"}}</span></h3>
   <!-- <span ng-show="!issue.avaliable_time" style="color:red">{{err_word.avaliable_time}}</span> -->
 </div>
 <div class="padding padding_w">Alternate Date & Time</div>
 <div type="text" placeholder="Alternate Date & Time" class="item me_1" only-valid="{'after': 'today', 'inclusive': true}" ion-datetime-picker seconds
 am-pm ng-model="issue.another_avaliable_time" min="issue.avaliable_time" ng-disabled="edit_pro" ng-readonly="edit_pro"><h3>{{ issue.another_avaliable_time| date: "dd-MM-yyyy" }} <span class="text_2" > {{
 issue.another_avaliable_time| date: "h:mm a"}}</span></h3>
 <span ng-bind="err_word.another_avaliable_time " ></span><span ng-show="samedate" ng-bind='samedate' ></span>
</div>



<!-- <label class="item item-input item-floating-label">
  <span class="input-label padding_w"> Present Contact Number</span>
  <input type="text" name="name" placeholder=" Present Contact Number" ng-model="issue.issue_contact_number" required="" ng-readonly="edit_pro" style="font-size: 15px !important;    color: #66757F !important;    font-weight: 450;"/>
  <span ng-bind="err_word.issue_contact_number"></span>
</label>
<label class="item item-input item-floating-label">
 <span class="input-label padding_w">Description</span>
 <textarea rows="5" placeholder="Enter Description" ng-model="issue.description" ng-class="err.description"
 style="font-size: 15px !important;    color: #66757F !important;    font-weight: 450;"></textarea>
 <span ng-bind="err_word.description" ></span>
</label>
 -->




<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label padding_w"> Present Mobile Number  <span style="color:red">*</span></span>
    <input type="text" name="name"  ng-model="issue.issue_contact_number" required="" ng-readonly="edit_pro"/>

     <!-- <span ng-show="!issue.issue_contact_number" style="color:red">{{err_word.issue_contact_number}}</span> -->
  </label>

  <label class="item item-input item-stacked-label">
 <span class="input-label padding_w">Description <span style="color:red">*</span></span>
 <textarea rows="5"  ng-model="issue.description" ></textarea>
 <!-- <span ng-show="!issue.description" style="color:red">{{err_word.description}}</span> -->
  </label>












</div>
</div>
</div>
      <div class="card name_hed">
        <div class="item item-divider  head_1">
      Issue Details
       </div>
       <div class="item" ng-repeat="issue_multiple in multi_issues">
        <div class="row">
         <div class="col col-10 check">
           <input type="checkbox"  ng-model="issue_multiple.selected" style="zoom:1.3;" /></div>
           <div class="col col-75  text_h3 ">
            <select ng-model="issue_multiple.category_id" ng-options="category.id as category.category_name  for category in categories">
              <option disabled selected value="">Issue Category</option>
            </select><span style="color:red">*</span>
          </div>
          <div class="col ">
            <button accept="image/*" ng-model="issue_multiple.image_a" ngf-multiple="true" required class="button button-positive button-small hedd_4 icon ion-camera butn"
            ng-click="showActionsheet(multi_issues,$index)" ng-model="photos"></button><span ng-if="err_word.photos"></span>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <input type="radio" value="des" ng-model="category.condition"><b class="god_1">Description</b> <span style="color:red">*</span>
          </div>
          <div class="col col-50">
            <input type="radio" value="photo" ng-model="category.condition"><b class="god_1">View Image</b>
          </div>


      </div>
      <ion-scroll direction="x" class="item item-list-detail" ng-if="issue_multiple.image.length > 0 && category.condition == 'photo'">
        <span ng-repeat="imgs in issue_multiple.image">
          <img ng-src="{{imgs | convertFileSrc}}" ng-click="showImages($index,issue_multiple.image)" class="image-list-thumb" />
          <a class="button ion-close-circled butn_delt" style="margin-top: -14px;" ng-click="remove($parent.$index,$index,imgs)"></a>
        </span>
      </ion-scroll>
      <ion-item class="item-accordion" ng-if="category.condition == 'des'">
        <div class="hef"> Description</div><br>
        <div class="tech_1 cont_2">
          <textarea rows="6" cols="60" placeholder="Enter Description" ng-model="issue_multiple.description"></textarea></div>
          <span ng-bind="err_word.description"></span>
        </ion-item>
      </div>
      <div class="row">

       <div class="col col-33">
        <button class="button button-positive button-small hed_b addnew paper paper-curl-right-side "  class="btn btn-red btn-sm" ng-click="addNew(multi_issues)" type="button">Add Issue</button>
      </div>
      <div class="col col-33">
        <button  class="button button-positive button-small hed_a addnew paper paper-curl-right-side " ng-hide="!multi_issues.length" type="button" class="btn btn-red btn-sm" ng-click="remove_m()" value="Remove">Remove</button>
      </div>
        <div class="col col-33">
          <button  class="button button-positive button-small hed_c addnew paper paper-curl-right-side" ng-click="reset_all(multi_issues)" value="Add" ng-if="rm" type="button" class="btn btn-red btn-sm">Reset all</button>


</div>
</div>
</div>

<div class="row size_1">
  <div class="col col-50">
    <p class="">Upload Video</p>
  </div>
  <div class="col col-50">

    <button class="button button-positive button-small hedd_4 icon ion-videocamera butn" ng-click="captureVideo()"></button>
  </div>
</div>

<div class="text-center padding" ng-if="video_a">
  <video width="100%" id="videoId"  autoplay playsinline webkit-playsinline  controls>
    <source ng-src="{{video_a |trustUrl}}">
    </video>
  </div>
  <div class="text-center padding" ng-if="video_exists && !video_a">
   <video width="100%" id="videoId" autoplay playsinline webkit-playsinline  controls>
    <source ng-src="{{video_exists |trustUrl}}">
    </video>
  </div>




    <div class="text-center padding">
      <button class=" button button-positive button-full hed_4 " ng-click="issue_create(issue,multi_issues,video_a)">
       {{btn}}
      </button>
    </div>



  </ion-content>
</ion-view>
