<ion-view view-title="New Issue">
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="right">
  <div class="icon ion-plus-circled " ng-if="buttonshow" ng-click="doSomething($event)" style="font-size: 30px">
   </div>
  </ion-nav-buttons>
  </ion-nav-bar>
   <div class="bar bar-subheader bar-balanced item-input-inset " ng-hide="emptyimg">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="search">
    </label>
  </div>
  <ion-content class="backgrd has-subheader">
      <ion-refresher on-refresh="property()"></ion-refresher>



  <div class="list" ng-hide="emptyimg">
    <div>
    <!-- <div class="item item-divider  head_1" style="margin-top:11px">
     Main Issues Lists
    </div> -->

    <a class="item item-avatar item-icon-right" style="border-color: #87c75c;" ng-repeat="new_issue in Issue_master| filter :search" href="#/app/issue_list/{{new_issue.id}}">
      <img src="img/issue.jpg">
      <p>
        {{new_issue.issue_id}}<span ng-if="new_issue.work_type"> - {{new_issue.work_type}}</span>
      <br>
       {{new_issue.customer_name}}&nbsp;|&nbsp;{{new_issue.property_address}}</p>
    <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

 </div>

</div>
</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>
