<ion-view title="Issue Details" >
  <ion-content class="backgrd">
    <div class="list cont_2 con_3">
      <div class="card">
        <!-- <div class="row" ng-if="issue_details.tenant_name">
          <div class="col col-50 col-center name">
           Tenant Name
         </div>

         <div class="col col-10 ">
      :</div><div class="col ">{{issue_details.tenant_name}}

        </div>
      </div>
      <div class="row" ng-if="issue_details.property_name">
        <div class="col col-50  col-center name">
        Property Name </div>

        <div class="col col-10">
         : </div><div class="col item-text-wrap">{{issue_details.property_name}}

       </div>
     </div> -->


    <div class="row">
      <div class="col col-50  col-center name">
      Issue Category </div>

      <div class="col col-10">
        <!-- <input type="text"   ng-model="issue_details.issue_category_name"  ng-disabled="true"> -->
          :</div><div class="col ">{{issue_details.issue_category_name}}

      </div>
    </div>
    <div class="row">
      <div class="col col-50 col-center name ">

      Description </div>

      <div class="col col-10">
        <!-- <textarea rows="4"  cols="23"  ng-model="issue_details.description" ng-disabled="true" ></textarea> -->
        :</div> <div class="col">{{issue_details.description}}

      </div>
    </div>

  <a class="item item-list-detail " ng-if="issue_details.image">
        <ion-scroll direction="x">
          <span ng-repeat="image in issue_details.image">
<img ng-src="{{img_url}}{{image.image_path}}/thumb/{{image.image_name}}" ng-click="showImages($index,issue_details.image)"
  class="image-list-thumb"  ng-class="{'position:relative': image.checked}">

        </span>
        </ion-scroll>
      </a>

      <div class="text-center padding" ng-if="issue_details.video">

      <video class="padding" playsinline autoplay webkit-playsinline controls width="100%" >
        <source ng-src="{{vid_fn |trustUrl }}">
        </video>

</div>


<!-- <div class="" ng-show="assigned">Assigned sucessfully</div>

  <div class="row padd_1">

    <a class="button  button-positive button-small hed_4"  ng-click="issue_to_maintanance(issue_details.id)" ng-if="user.admin_role_id == 5|| user.admin_role_id == 6">
    Assign to Maintenance
   </a>
</div>

 <div class="padd_2" ng-if="issue_details.status == 'New'" ng-hide="assigned">
  <a class="button button-positive button-small hed_4"  ng-click="showPopup(issue_details.id,'Waiting For Confirmation')">

   Assign to assistance
 </a>
</div> -->

 <!-- <div class="text-center" ng-if="issue_details.issue_trace.length > 0 && issue_details.status != 'New'" ng-show="assigned">
    <a class="button  button-positive button-small hed_4" ng-click="show_detail()">
     View Activity
   </a>
 </div> -->
<!--  <div class=" row padd_4">
  <a class="  button  button-positive button-small hed_4" href="#/app/create_new">
Verification
   </a>
<button class="padd_3 button button-positive button-small hed_4" >

  Get Quote
</button> -->
</div>
</div>
</div>

</ion-content>
</ion-view>
