<ion-view view-title="Property List">
  <div class="bar  bar-subheader bar-balanced item-input-inset ">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="search">
    </label>
  </div>
	<ion-content class=" backgrd has-subheader">

   <ion-refresher on-refresh="properties_list(0)">
   </ion-refresher>
   
  <div class="row">
    <div class="occp_1 col col-50">Occupied :<span class="badge badge-assertive">{{occupied}}</span></div>
    <div class="occp_2 col">Vacant :<span class="badge badge-assertive">{{vacant}}</span></div></div>
    

    <ion-list>
      <div class ="card list cont_2 " ng-repeat="(key, value) in properties | filter :search | groupBy: 'property_status' ">


        <div class="  box">
          <p class=" box_1">{{key}}</p>
        </div>

      <ion-item class=" cont_2 tech_2 head_6" ng-repeat="property in value" href="#/app/property_details/{{property.id}}">
        <div class=" card list   cont_4 " style="margin-bottom: 0px;border-radius: 7px;">
      
      <div class="row ">   
        <div class="col col-50  name ">
          Customer Name 
        </div>
        <div class="col col-10">
      </div> <span class="col ">{{property.customer_name}}
        </span>
      </div>
      <div class="row">
          <div class="col col-50  name ">
            Property Address 
          </div>
          <div class="col col-10">
          </div> <span class="col brk_1">{{property.property_address}}
          </span>
        </div>
      </div>

      </ion-item>
    </div>
  </ion-list>
</ion-content>
</ion-view>

   


