<ion-view view-title="Task">
  <ion-content class="backgrd">
    <div class="bar  item-input-inset ">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="row">

    	<div class="col col-50">
    <p>Today</p>
</div>
<div class="col col-50 text-right">
	<p>09/12/2019</p>
</div>
</div>
   
   <div class="card padding" ng-click="modal.show()">
   	 <a class="item">
   	  <h2>ASG APARTMENTS</h2>
   	  <p>Property Code : rap 102</p>

      <p>aaaaaaaaaaaaaaaaaaaaa Address :2/22 MAIN ROAD, NG NAGER,<br>
      CHENNAI-93</p>
      <p>Issue : Document Verification</p>
    </a>
  </div>
  <div class="card padding">
   <a class="item">
    <h2>ASG APARTMENTS</h2>
    <p>Property Code : rap 102</p>
    <p> Address :2/22 MAIN ROAD, NG NAGER,<br>
    CHENNAI-93</p>
    <p>Issue : Lease closed</p>
    <p>Tenant Time :04:00 to 05:00</p>
  </a>

</div>
<div class="card padding">
 <a class="item" >
  <h2>ASG APARTMENTS</h2>
  <p>Property Code : rap 102</p>
  <p> Address :2/22 MAIN ROAD, NG NAGER,<br>
  CHENNAI-93</p>
  <p>Issue :white wash</p>
  <p>Tenant Time :04:00 to 05:00</p>
</a>
</div>

</ion-content>
</ion-view>