<ion-view title="Property Details">
  <ion-content class=" backgrd padding" >
    <div class="list padding">
      <div class="item item-body" ng-if="property_details.available_status == 'notavailable'" style="border-radius: 10px;box-shadow: rgb(156, 156, 156) 2px 3px 1px 1px">
        <!-- <h1 style="font-size: 27px; text-align: center;color:#b36868" ng-if="property_details.property_name">{{property_details.property_name}}</h1> -->
        <div class="row">
          <div class="col col-50  name">Customer Name </div>

          <div class="col col-10">
          :</div> <span class="col brk_1">{{property_details.customer_name}}</span>
        </div>
        <div class="row">
            <div class="col col-50  name" ng-if="property_details.customer_mobile">
             Customer Mobile Number
            </div>
            <div class="col col-10">
            : </div><span class="col"><a class="" href="tel:{{property_details.customer_mobile}}">{{property_details.customer_mobile}}</a></span>
          </div>
 <div class="row">
  <div class="col col-50  name" ng-if="property_details.tenant_name">
   Tenant Name</div>
   <div class="col col-10">
  : </div><span class="col"> {{property_details.tenant_name}}</span>

</div>
<div class="row">
  <div class="col col-50 name" ng-if="property_details.tenant_contact_no">
   Tenant Mobile Number
  </div>
  <div class="col col-10">
  : </div><span class="col">
      <a class="" href="tel:{{property_details.tenant_contact_no}}">{{property_details.tenant_contact_no}}</a></span>
</div>
<div class="row">
  <div class="col col-50  name"  ng-if="property_details.tenant_email">

  Email ID</div>
  <div class="col col-10">
  :</div> <span class="col brk_1">{{property_details.tenant_email}}</span>
</div>
<div class="row" ng-if="property_details.property_agrement">
  <div class="col col-50  name" >Customer Agrement Date </div>
  <div class="col col-10">
  :</div> <span class="col">{{property_details.property_agrement}}</span>
</div>

<div class="row" ng-if="property_details.tenant_agrement">
  <div class="col col-50  name" >Tenant Aggrement Date</div>
  <div class="col col-10">
  : </div><span class="col">{{property_details.tenant_agrement}}</span>
</div>
<div class="row">
  <div class="col col-50 name" ng-if="property_details.tenant_assign_date">
  Lease Agreement Date</div>

  <div class="col col-10"  ng-if="property_details.tenant_assign_date">
  :</div> <span class="col">{{property_details.tenant_assign_date | date : 'dd-MM-yyyy'}}</span>
  </div>
<div class="row">
  <div class="col col-50  name" ng-if="property_details.living_duration">
    Occupied period
 </div>
 <div class="col col-10">:</div> <span class="col" ng-if="property_details.living_duration.year > 0">{{property_details.living_duration.year}} Years</span> <span class="col" ng-if="property_details.living_duration.month > 0">{{property_details.living_duration.month}} Months</span> <span class="col" ng-if="property_details.living_duration.days > 0">{{property_details.living_duration.days}} Days</span>
</div>

<div class="row">
  <div class="col col-50 name"> Address</div>

  <div class="col col-10">
  : </div><span class="col brk_1">{{property_details.property_address}}</span>
</div>
</div>



<div class="item item-body" ng-if="property_details.available_status == 'available'" style="border-radius: 10px;box-shadow: rgb(156, 156, 156) 2px 3px 1px 1px">
  <!-- <img class="full-image" src="img/home_3.jpg"> -->
  <h2 style="font-size: 27px; text-align: center;color:#b36868">{{property_details.property_name}}</h2>
  <div class="row">
    <div class="col col-50 col-center name">
      Customer Name
    </div>
    <div class="col col-10">
    :</div> <span class="col brk_1">{{property_details.customer_name}}</span>
  </div>

  <div class="row">
    <div class="col col-50 col-center name">
       Mobile Number
    </div>
    <div class="col col-10">
    : </div><span class="col">
        <a class="" href="tel:{{property_details.customer_mobile}}">{{property_details.customer_mobile}}</a></span>
       </div>

  <div class="row ">
    <div class="col col-50 col-center name">Property type </div>
    <div class="col col-10">
    : </div><span class="col"> {{property_details.property_type}}</span>
  </div>

  <div class="row">
    <div class="col col-50 col-center name">
    Address</div>
    <div class="col col-10">
    : </div><span class="col brk_1">{{property_details.property_address}}</span>
  </div>

  <div class="row">
    <div class="col col-50 col-center name">
    Property Agrement Date </div>
    <div class="col col-10">
    : </div><span class="col">{{property_details.agreement_date}}</span>
  </div>
</div>

</div>
<a class="item item-list-detail " ng-if="property_details.property_images.length >0" >
  <ion-scroll direction="x">
    <img ng-repeat="img in property_details.property_images" ng-src="{{img_url}}{{img.image_path}}/{{img.image_name}}"
    ng-click="showImages($index,property_details.property_images)" class="image-list-thumb"
    ng-class="{'position:relative': image.checked}">
  </ion-scroll>
</a>

</ion-content>
</ion-view>
