            <ion-modal-view>
                    <ion-header-bar class="bar bar-header bar-balanced">
                      <h1 class="title">New Contact</h1>
                      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                    </ion-header-bar>
                    <ion-content class="padding backgrd">
                     
            <div class="row">
            <div class="col-30 text-right green-title"><b>Property Name : </b></div>
            <div class="col-50 text-left padding-left">
                <span class="name_2"> {{property.property_name}}&nbsp;[&nbsp; {{property.property_unique_code}}&nbsp;]</span>
                </div>
            </div>

<ul class="activity activity-inverse  card " ng-repeat="(key, value) in issue_trace_list | groupBy: 'tracking_date'">
        <li class="time-label item item-divider">
            <span class="" ng-bind="key"></span>
        </li>
        <li ng-repeat="issue_list in value" class="item item-text-wrap" style="border-style: none;">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <div class="activity-item card_detail padding">
               <div>
                <h4 class="activity-header warp_2 padding">
                    <a href="#"><b>Status : </b> <span  ng-bind="issue_list.issue_status"></span></a>
                    <span class="time red-title warp_3">
                    <i class="fa fa-clock-o"></i> <b>{{issue_list.tracking_time}}</b></span>
                </h4>
                     
                </div> 
                   <div class="activity-body "> 
                <div class="row">
    <div class="col col-50 col-center name green-title">
   Approved by </div>
    <div class="col col-50">
      : <span ng-bind="issue_list.status_by_name"></span>
     </div>
 </div>
                 <div class="row">
    <div class="col col-50 col-center name green-title">
   Message </div>
    <div class="col col-50">
      : <span ng-bind="issue_list.message"></span>
     </div>
 </div>
</div>
<!-- 
                <div class="activity-body ">
                  
                    <table style="width: 100%">
                        <tr>
                            <td><span class="green-title">Approved by</span></td>
                            <td><b><span ng-bind="issue_list.status_by_name"></span></b></td>
                        </tr>
                        <tr>
                            <td> <span class="green-title">Message </span></td>
                        
                            <td> <span ng-bind="issue_list.message"></span></td>
                        </tr>
                    </table>
                   
                   

                </div> -->
            </div>
        </li>
    </ul>
</ion-content>
</ion-modal-view>