<ion-view title="Issue Details">
     <div class="bar bar-subheader bar-balanced item-input-inset" ng-hide="emptyimg">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="search"> 
  </label>
   </div>
  <ion-content class="backgrd has-subheader">
 <ion-refresher on-refresh="issues_list()" > </ion-refresher>

<!-- <img src="img/Capture.jpg" alt="No Data Found"  ng-show="emptyimg" class="empty_img"> -->
     
   <div class="list cont_2" ng-hide="emptyimg">

      <ion-item class="card list card_detail" ng-repeat="issue in issues | filter:search"  href="#/app/manage_details/{{issue.id}}">
      <!--       <div class="row">
          <div class="col col-50 col-center name">
           Issue Id
         </div>
        <div class="col col-10">
        :</div><div class="col ">{{issue.issue_token}}
        </div>
      </div> -->
<!--       <div class="row">
          <div class="col col-50 col-center name">
       
         Issue Category
       </div>
        <div class="col col-50">

        <span>: {{issue.category_name}}</span>
        
      </div>
    </div> -->

 <div class="row" ng-if="issue.issue_amount">
  <div class="col col-50 col-center name">
    Quotation Details
  </div>
  <div class="col col-10 ">
:</div> <div class="col">{{issue.issue_amount}}
 </div>
</div>
<div class="row ">
  <div class="col col-33  name">
      Issue ID
  </div>
 <div class="col col-10">:</div>
 <div class="col brk_1">{{issue.issue_id}}</div>
  </div>

 


<div class="row">
 <div class="col col-33 name">
    Property
  </div>
   <div class="col col-10 ">
:</div>
 <div class="col brk_1">{{issue.customer_name + ' | ' + issue.property_address + ' | '+ issue.city}}

 </div>
</div>
</ion-item>
</div>
</ion-content>
<ion-content  ng-show="emptyimg">
  <img src="img/Capture.jpg" alt="No Data Found"  style="width: 100%;">
  </ion-content>
</ion-view>



