<ion-view title="Issue details">
  <ion-content class="backgrd">

    <div class="list cont_2 ">
      <div class="card con_2 con_3 ">
        
    <!-- <div class="row "  >
      <div class="col col-33 col-center name">
      Issue Image 
    </div>
      <div class="col col-67">
         : <button ng-click="showImages(0,issue_list.issue_images)"><i class="ion-eye" ></i></button>
      </div>
    </div> -->
    <!-- <div class="row" ng-if="issue_list.com_images">
      <div class="col col-33 col-center name">
      Issue completed Image 
    </div>
      <div class="col col-67">
         : <button ng-click="showImages(0,issue_list.com_images)"><i class="ion-eye" ></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 name">
      Issue Video  </div>
      <div class="col col-67">
        : <button ng-click="videoAlert(issue_list.issue_video)"><i class="ion-eye" ></i></button>
      </div>
    </div> -->
   

     <div class="name text-center con_2">
     <!--  Issue Details -->
</div>
  

  <div class="row row-center" ng-if="issue_list.property_name" >
    <div class="col col-33  name">
    Property Name
  </div>
    <div class="col col-10 ">
      :</div> <span class="col">{{issue_list.property_name}}</span>
     
    </div>
  
   <div class="row">
    <div class="col col-33  name">
    Category
  </div>
    <div class="col col-10">
       :</div> <span class="col"> {{issue_list.category_name}}</span>
     
    </div>
  
  <div class="row">
    <div class="col col-33 name">
Completion Date
  </div>
    <div class="col col-10">
      :</div> <span class="col brk_1"> {{issue_list.updated_at}}</span>
     
    </div>
  



  <div class="row">
    <div class="col col-33 col-center name">
     Status
  </div>
    <div class="col col-10">
      :</div>
       <span class="col brk_1">{{issue_list.issue_status}}</span>
     
    </div>
  
  <div class="row" ng-if="issue_list.issue_amount">
    <div class="col col-33 col-center name">
    Issue Amount
  </div>
    <div class="col col-10">
      :</div> <span class="col">{{issue_list.issue_amount}}</span>
     
    </div>
  
  <div class="row" ng-if="issue_list.tenant_amount">
    <div class="col col-33 col-center name">
    Tenant Amount
  </div>
    <div class="col col-10">
     :</div> <span class="col">{{issue_list.tenant_amount}}</span>
     
    </div>
  
  <div class="row" ng-if="issue_list.customer_amount">
    <div class="col col-33 col-center name">
    Customer Amount
  </div>
    <div class="col col-10">
       :</div> <span class="col"> {{issue_list.customer_amount}}</span>
     
    </div>
  
  <div class="row">
    <div class="col col-33 col-center name">
    Property Status
  </div>
    <div class="col col-10">
       : </div><span class="col" ng-if="issue_list.available_status == 'notavailable'"> Occupied</span>
         <span class="col" ng-if="issue_list.available_status == 'available'"> Occupied</span>
     
    </div>
  
 
  <div class="row">
    <div class="col col-33 col-center name">
    Description
  </div>
    <div class="col col-10 ">
     :</div> <span class="col brk_1 "> {{issue_list.description}}</span>
     
    </div>
  
  <!-- <div class="row">
    <div class="col col-33 col-center name">
    Issue History
  </div>
    <div class="col col-67">
       : <button ng-click="historyAlert(issue_list.id)"><i class="ion-eye" ></i></button>
     
    </div>
  </div> -->
</div>
</div>


</ion-content>
</ion-view>



