<ion-view view-title="Tenant List">
    <div class="bar  bar-subheader bar-balanced item-input-inset ">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
    </div>
      <ion-content class=" backgrd has-subheader">

     <ion-refresher on-refresh="properties_list(0)">
     </ion-refresher>

    <div class="row">
      <div class="occp_1 col col-50">Occupied :<span class="badge badge-assertive">{{occ}}</span></div>
      <div class="occp_2 col">Vacant :<span class="badge badge-assertive">{{vac}}</span></div></div>


      <ion-list>
        <div class ="card list cont_2 " ng-repeat="(key, value) in list | filter :search | groupBy: 'tenant_status' ">


          <div class="  box">
            <p class=" box_1">{{key}}</p>
          </div>

          <ion-item class=" cont_2 tech_2 head_6" ng-repeat="tenant in value" >
      <div class=" card list    cont" style="margin-bottom: 0px;border-radius: 7px;">

    <div class="row ">
      <div class="col col-50  name ">
        Tenant Name
      </div>
      <div class="col col-10">
    </div> <div class="col brk_1">{{tenant.name}}-({{tenant.username}})
      </div>
    </div>

    <div class="row ">
        <div class="col col-50  name ">
          Tenant Mobile Number
        </div>
        <div class="col col-10">

        </div> <div class="col "><a href="tel:{{tenant.mobile_number}}" class="">{{tenant.mobile_number}}</a>
        </div>
      </div>

      <div class="row " ng-if="tenant.property_address">
          <div class="col col-50  name ">
            Address
          </div>
          <div class="col col-10">

          </div> <div class="col brk_1">{{tenant.property_address}}
          </div>
        </div>
    </div>

    </ion-item>
      </div>
    </ion-list>
  </ion-content>
  </ion-view>
